* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #cab6ae, #86766c);
    padding: 1rem;
}
main {
    background-color: #cab6ae;
}
.name {
    font-size: 1.5rem;
    text-decoration: none;
    color: #352727;
    font-weight: 600;
}
.nav-center {
    margin-left: 90px;
}
.nav-links {
    display: flex;
    gap: 30px;
    font-size: 19;
}
.navbar-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.navbar-logo img {
    width: 89px;
    height: 65px;
    margin-left: 2rem;
}
.nav-login {
    display: flex;
    color: #000000;
    gap: 1rem;
}
.nav-links li {
    margin-left: 1rem;
}
.nav-links li a {
    text-decoration: none;
    color: #000000;
}
#hambur {
    display: none;
}
.cart {
    position: absolute;
    background-color: #b19d91;
    top: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    display: none;
    padding: 3rem 1rem;
    width: 18rem;
    margin-right: 38px;
    margin-top: 4rem;
}
#hambur:checked + .cart {
    display: flex;
}
.item img {
    width: 3rem;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9777638a;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 18px;
}
.item-handler-down {
    background-color: #977763;
    padding: 6px;
    border-radius: 10px;
    font-weight: 600;
}
.item-handler-up {
    background-color: #977763;
    padding: 6px;
    border-radius: 10px;
    font-weight: 600;
}
.item-handler {
    font-weight: 600;
}
.item-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item-price {
    display: flex;
    align-items: center;
    background-color: #977763;
    border-radius: 10px;
    font-weight: 600;
    width: 50px;
}
.divider {
    border: 1px solid #977763;
    margin-top: 2rem;
    margin-bottom: 25;
}
.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #977763;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 2rem;
    font-size: 21;
}
.buy {
    color: #000000;
}
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.banner {
    text-align: center;
    padding: 1rem;
}
.banner .card {
    margin-left: 11.5rem;
    margin-top: 1rem;
}
.banner h1 {
    font-size: 3rem;
}
.btn {
    display: inline-block;
    color: #000000;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 600    ;
}
.about-content {
    padding: 4rem 2rem;
    text-align: center;
}
#products {
    display: flex;
    max-width: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    padding: 3rem;
}
.card {
    width: 225px;
    height: 285px;
    background: #977763;
    border-radius: 0.4rem;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: #977763 0.2rem solid;
    margin-top: 4rem;
}
.card:hover {
    border: #684733 3px solid;
}
.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 18;
}
.card-info p {
    color: #ffffff98;
    font-weight: 600;
    margin-left: 7px;
}
.card-info span {
    background-color: #cab6aeaf;
    padding: 2px;
    border-radius: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
#contact {
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
}
.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}
.form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
}
.form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}
.form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
}
footer {
    background-color: #86766c;
    text-align: center;
    padding: 22px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a {
    font-size: large;
    color: #000000;
}
footer p {
    margin-left: 3rem;
}
.redes .redess {
    margin-left: 1rem;
    font-size: 28;
    color: #000000;
}
@media screen and (max-width: 992px) {
    #products {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: 245px;
        height: 305px;
    }
}
@media screen and (max-width: 768px) {
    #nav {
        display: flex;
        justify-content: center;
    }
    .nav-links {
        font-size: 14;
    }
    .nav-links li {
        margin-left: 0
    }
    .navbar-logo img {
        margin-left: 0;
    }
    .nav-login {
        margin-left: 12px;
    }
    .redes {
        font-size: 1px;
        display: flex;
    }
@media screen and (max-width: 576px) {
    * {
        font-size: 94%;
    }
    #nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin-right: 6rem;
    }
    .navbar-logo {
        width: 0px;
    }
    .navbar-logo img {
        width: 3rem;
        height: 36px;
    }
    .nav-links {
        font-size: smaller;
        gap: 4px;
    }
    .nav-center {
        margin-left: 3rem;
    }
    .nav-login {
        font-size: smaller;
        gap: 0;
    }
    .card {
        width: 155px;
        height: 305px;
        gap: 0;
        margin-right: 0;
    }
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
    .banner h1 {
        font-size: 16;
    }
    .banner p {
        font-size: 13;
    }
    .banner .card {
        margin-right: 12rem;
    }
}